

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
:root {
  --text-color: #fff;
  --bg-color: #131722;
  --second-color: #949cb0;
  --lightBgColor:#0c101bba;;
  --bgTransparent:rgba(36,186,239,.6) ;
  --borderColor:#a8a8a83d;
}

body {
  background-color: var(--bg-color);
  font-family: "Montserrat Alternates", sans-serif;
  color: var(--text-color);
}
a{
    color: var(--text-color);
    text-decoration: none;
}
.nav-bgcolor{
  background-color: var(--lightBgColor);
}
.nav-item{
  padding:0 10px;
}
.nav-Link{
  padding: 10px;
  transition: all 0.3s ;
}
.nav-Link:hover ,.active-link{
  color: #fff;
  background-color:  #182036 ;
  border-radius: 0.5rem;
}
.linked-title:hover{
  color: #fff;
}
.nav-item i {
  padding: 0 5px;
  cursor: pointer;
}
.navbar-toggler {
  background-color: rgb(193, 190, 190) !important;
}
.navbar-toggler:focus {
 
  box-shadow: none !important;
}
.input-deco{
  background-color: transparent;
  border: 1px solid var(--borderColor);
  color: var(--text-color);
}
.cursor-pointer{
  cursor: pointer;
}
.brdr{
  background-color: var(--borderColor);
  height: 1px;
}
.vote{
  background-color: #24baef;
}
.detect-offline{
  background-color: var(--bg-color);
  color: #fff;
  box-shadow: 10px 10px 10px #ccc;
  position: fixed;
  top: 50%;
  right: 50%;
  padding:20px;
  z-index: 99999;
}
@media (max-width:991px){
  .navbar-collapse{
    padding: 1rem 0 !important;
  }
  .navbar-collapse ul li{
    margin-top: 1rem !important;
  }
}